<p><font color="9900CC">
<h1>Hello everyone! This is Gracie Stettler's Final Project!</h1>
</font>
</font>
</p>

<p><font color="009999">
<h3>This text is coming from my index.html file :)</h3>
</font>
</font>
</p>

<a href="/about">About Me</a>

<br><br><h8>For this Final Project I wanted to learn how to use a ton of hyperlinks in my website.</h8>

<br><br><a href="/major">My USU Major</a>

<br><br><h9>I also wanted to learn how to break lines up in this Cloud 9 environment, because hitting enter doesn't do anything. I learned that "< br >" will create a new line for you in your website! </h9>

<br><br><a href="/artist">My Favorite Music Artist</a>

<p><font color="FF3399"
<br><br><h11>I've learned so much from creating this Final Project. First of all, in the beginning I kept messing up when trying to make this website and had to start over two or three times. I'm glad this happened though, because I've gotten a lot faster at creating websites through Cloud 9 on AWS because i've had to start over. This task definitely isn't easy, but i've found that I really enjoy creating these websites. Overall, i'm pleased with myself for learning how to create this website, and learning other little tools along the way. I've learned how to color my font, whether that be the whole body of my website as one color or just a paragraph, use many templates and hyperlinks within my website, break up lines in my website by using < br >, and much more! I feel super accomplished that I created this, and i'm happy with how it turned out! :)</h11>
</font>
</font>
</p>

<br><a href="/job">My Job</a>
 
<p><font color="66BB55">
<h4>Thanks for coming to my website! I really appreciate it! This has been a hard project for me to achieve, but it's very rewarding to finally know how to create a website using Cloud 9 in AWS! Have a good day! :)</h4>
</font>
</font>
</p>